@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
}
img {
  width: 100%;
}

.bodydiv {
  /* border: 4px solid red; */
  width: 100%;
  min-height: 1500px;
  background-color: rgb(11, 11, 15);
}

.firstchilddiv {
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(11, 11, 15, 1)),
    url("images/moviee3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid blue; */
  width: 100%;
  height: 950px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 60px;
  padding: 0px 30px;
  margin-top: 1%;
  border-radius: 40px;
}

.nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255);
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  border: 2px solid rgb(254, 182, 39);
  background-color: rgb(254, 182, 39);
  border-radius: 10px;
  width: 100px;
  height: 36px;
}

.nav a:hover {
  animation: nav 2s timing-function;
  transform: translateY(-4px);
}

.moviee {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.homestuff {
  align-items: center;
  gap: 20px;
  display: flex;
}

.homestuff a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.homestuff .homecolor {
  color: rgb(254, 182, 39);
}

.searchbar {
  position: relative;
  display: flex;
}

.searchbar input {
  border: 2px solid rgba(177, 131, 146, 0.4);
  border-radius: 40px;
  width: 230px;
  height: 36px;
  background-color: rgba(177, 131, 146, 0.4);
}

input::placeholder {
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 12px;
}

.searchbar img {
  position: absolute;
  object-fit: cover;
  width: 24px;
  top: 16%;
  left: 85%;
}

.childdivtext {
  position: absolute;
  top: 40%;
  right: 35%;
  width: 60%;
}

.childdivtext h2 {
  font-size: 3.8rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

.childdivtext p {
  font-size: 1.1rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  width: 93%;
  height: 84px;
}

.imgtxt {
  display: flex;
  align-items: center;
  margin: 10px 10px;
}

.imgtxt div {
  color: rgb(255, 255, 255);
  display: flex;
  width: 110px;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.imgtxt span {
  font-size: 1.4rem;
  font-weight: 300;
}

.imgtxt img {
  object-fit: cover;
  width: 34px;
}

.watch {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 310px;
  height: 70px;
}

.innertex1 {
  align-items: center;
  justify-content: center;
  display: flex;
  border: 2px solid rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 200;
  border-radius: 20px;
  width: 140px;
  height: 55px;
}

.innertex {
  align-items: center;
  justify-content: center;
  display: flex;
  border: 2px solid rgb(254, 182, 39);
  background-color: rgb(254, 182, 39);
  font-size: 1.2rem;
  font-weight: 200;
  border-radius: 20px;
  width: 140px;
  height: 55px;
}

.innertex1 img {
  object-fit: cover;
  width: 22px;
}

.innertex img {
  object-fit: cover;
  width: 22px;
}

.contenttex {
  display: flex;
}

.slideimages {
  position: absolute;
  top: 70%;
  left: 60%;
  /* border: 2px solid blue; */
  width: 620px;
  height: 200px;
}

.fourimages {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgb(0, 255, 106); */
  width: 620px;
  height: 200px;
}

.fourimages > img {
  object-fit: contain;
  width: 180px;
}

.secondchilddiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 4px solid blue; */
  width: 100%;
  min-height: 800px;
}

.childGenres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: grid;
  max-width: 1500px;
  /* border: 4px solid green; */
  width: 90%;
  height: 450px;
}

.childGenres h2 {
  color: rgb(255, 255, 255);
  /* border: 4px solid rgb(255, 0, 0); */
  font-size: 2.5rem;
  font-weight: 600;
  width: 100%;
  min-height: 50px;
}

.genresdiv {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  /* border: 4px solid blue; */
  gap: 20px;
}

.genrecontainer {
  flex-shrink: 0;
  position: relative;
  /* border: 4px solid peru; */
  border-radius: 20px;
  background-color: rgb(63, 63, 63);
  background-image: url("images/Genresline.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 380px;
  height: 350px;
}

.genrecontainer h2 {
  text-align: center;
  /* border: 4px solid yellow; */
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
  width: 36%;
  margin-left: 8%;
}

.genreimg {
  position: absolute;
  top: 60px;
  left: 40px;
  /* border: 4px solid yellow; */
  width: 80%;
  height: 270px;
}

.genreimg a {
  position: absolute;
  border-radius: 20px;
  top: 20px;
  height: 230px;
  width: 50%;
  display: block;
}

.genreimg a:nth-child(1) {
  left: 100px;
  transform: rotate(30deg);
  width: 56%;
  height: 215px;
}

.genreimg a:nth-child(2) {
  left: 8px;
  transform: rotate(-30deg);
  width: 56%;
  height: 215px;
}

.genreimg a:nth-child(3) {
  top: 30px;
  left: 50px;
  width: 54%;
}

.genreimg a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.divtwocontent {
  display: flex;
  max-width: 1500px;
  scrollbar-width: none;
  flex-direction: column;
  /* border: 4px solid green; */
}

.divtwocontent h2 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 600;
  width: 100%;
  min-height: 50px;
  width: 98%;
  /* border: 4px solid yellow; */
  min-height: 50px;
}

.contentimages {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  overflow-x: auto;
  gap: 16px;
  /* border: 4px solid green; */
  scrollbar-width: none;
}

.one,
.two,
.three,
.four,
.five,
.six {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid peru; */
  position: relative;
  border-radius: 20px;
  width: 292px;
  height: 330px;
  overflow: hidden;
  transition: all 1s ease;
}

.second {
  left: 0;
  right: 0;
  position: absolute;
}

.first a,
.second a {
  display: block;
  width: 100%;
  height: 100%;
}

.second img {
  object-fit: cover;
  width: 292px;
  height: 330px;
  transition: all 1s ease;
}

.first img {
  object-fit: cover;
  border-radius: 20px;
  width: 535px;
  height: 330px;
  transition: all 1s ease;
}

.first img {
  opacity: 0;
  transform: translate(-264px);
}

.one:hover,
.two:hover,
.three:hover,
.four:hover,
.five:hover,
.six:hover {
  width: 554px;
}
.one:hover .first img,
.two:hover .first img,
.three:hover .first img,
.four:hover .first img,
.five:hover .first img,
.six:hover .first img {
  opacity: 1;
  transform: translate(1px);
}

.one:hover .second img,
.two:hover .second img,
.three:hover .second img,
.four:hover .second img,
.five:hover .second img,
.six:hover .second img {
  transition: all 0.8s ease;
  transform: translate(-274px);
  opacity: 0;
}

.divthreecontent {
  display: flex;
  max-width: 1500px;
  scrollbar-width: none;
  flex-direction: column;
  /* border: 4px solid blue; */
  margin-top: 20px;
}

.divthreecontent h2 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 600;
  width: 100%;
  min-height: 50px;
  width: 98%;
  /* border: 4px solid yellow; */
  min-height: 50px;
}

.contentimg {
  display: flex;
}

.divflex {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  overflow-x: auto;
  gap: 16px;
  scrollbar-width: none;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content p {
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  position: relative;
  z-index: 1;
  line-height: 100%;
  font-size: 200px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content img {
  position: relative;
  z-index: 2;
  margin-left: -50px;
  object-fit: contain;
  width: 204px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topmovieone,
.topmovietwo,
.topmoviethree,
.topmoviefour,
.topmoviefive {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid peru; */
  position: relative;
  z-index: 2;
  margin-left: -140px;
  border-radius: 20px;
  width: 292px;
  height: 330px;
  overflow: hidden;
  transition: all 1s ease;
}

.topmovieone:hover,
.topmovietwo:hover,
.topmoviethree:hover,
.topmoviefour:hover,
.topmoviefive:hover {
  width: 535px;
}
.topmovieone:hover .first img,
.topmovietwo:hover .first img,
.topmoviethree:hover .first img,
.topmoviefour:hover .first img,
.topmoviefive:hover .first img,
.topmoviesix:hover .first img {
  opacity: 1;
  transform: translate(1px);
}

.topmovieone:hover .second img,
.topmovietwo:hover .second img,
.topmoviethree:hover .second img,
.topmoviefour:hover .second img,
.topmoviefive:hover .second img {
  transition: all 0.8s ease;
  transform: translate(-274px);
  opacity: 0;
}

.now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  width: 96%;
  height: 500px;
}

.now > h2 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 600;
  width: 100%;
  min-height: 50px;
  width: 96%;
  /* border: 4px solid yellow; */
  min-height: 50px;
}

.txtandimg {
  display: flex;
  justify-content: space-around;
  /* border: 4px solid green; */
  width: 96%;
}

.txtandimg > a {
  display: block;
  width: 50%;
  height: 400px;
}

.txtandimg > a > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.txtdiv {
  /* border: 4px solid blue; */
  width: 44%;
  height: 400px;
}

.txtdiv h2 {
  font-size: 3rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.txtdiv p {
  font-size: 1.1rem;
  font-weight: 300;
  /* border: 4px solid orange; */
  color: rgb(255, 255, 255);
  width: 84%;
  height: 180px;
}

.imgtext {
  display: flex;
  align-items: center;
  margin: 20px 10px 0px 0px;
  /* border: 4px solid red; */
}

.imgtext div {
  color: rgb(255, 255, 255);
  display: flex;
  width: 110px;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.imgtext span {
  font-size: 1.4rem;
  font-weight: 300;
}

.imgtext img {
  object-fit: cover;
  width: 34px;
}

.watchbox {
  align-items: center;
  justify-content: center;
  display: flex;
  border: 2px solid rgb(254, 182, 39);
  background-color: rgb(254, 182, 39);
  margin-top: 10px;
  border-radius: 20px;
  width: 250px;
  height: 50px;
}
.watchbox p {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 180px;
  height: 30px;
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(255, 234, 193);
}

.watchbox img {
  object-fit: cover;
  width: 28px;
}

.fourthbox {
  width: 96%;
  height: 450px;
  /* border: 2px solid green; */
}

.fourthcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 450px;
  /* border: 2px solid blue; */
}

.fourthcontainer h2 {
  color: rgb(255, 255, 255);
   font-size: 2.5rem;
  font-weight: 600;
  width: 100%;
  min-height: 50px;
  width: 96%;
  /* border: 4px solid yellow; */
  min-height: 50px;
}

.imagesbox {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 20px;
  width: 96%;
  /* border: 2px solid peru; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imagesbox a {
  display: block;
  width: 292px;
  height: 342px;
}

.imagesbox a img {
  opacity: 0.6;
  transition: all 2s ease;
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imagesbox a:hover img {
  opacity: 1;
  transition: all 0.7s ease;
  transform: translateX(15px);
}

.footer {
  width: 100%;
  height: 350px;
}

.flexdiv {
  display: flex;
  margin-left: 200px;
  width: 70%;
}

.leftfooter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 240px;
  height: 200px;
  margin-top: 5px;
}

.leftfooter h2 {
  color: rgb(255, 255, 255);
  font-size: 2.8rem;
  font-weight: 300;
  height: 60px;
  margin-bottom: 10px;
}

.leftfooter p {
  color: rgba(255, 255, 255, 0.842);
  font-size: 1.1rem;
  font-weight: 300;
  width: 230px;
  height: 100px;
  line-height: 1.25;
  margin-top: 10px;
}

.leftfooter img {
  object-fit: contain;
  width: 100px;
}

.socialmedia {
  object-fit: contain;
}

.socialmedia > img {
  object-fit: contain;
  width: 120px;
}

.footerlist {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 80px;
  width: 60%;
  height: 80%;
}

.footerdetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
  height: 60%;
}

.footerdetails span {
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 160px;
}

.details a {
  color: rgba(255, 255, 255, 0.812);
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
}

.lastfooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.line {
  border-bottom: 0.8px solid rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
  margin-left: -11%;
  width: 66%;
  height: 1px;
}

.allright {
  display: flex;
  align-items: center;
  margin-left: -70%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  font-weight: 100;
}
